#### Introduction to Categorical Data
When exploring data, we’re often interested in summarizing a large amount of information with a single number or visualization.

Depending on what we’re trying to understand from our data, we may need to rely on different statistics. For quantitative data, we can summarize central tendency using mean, median or mode and we can summarize spread using standard deviation, variance, or percentiles. However, when working with categorical data, we may not be able to use all the same summary statistics.

For example, here are the first five rows and some selected columns of a dataset from the 1994 U.S. census:

In [7]:
#Manually Creating the dataframe used in the example
import pandas as pd
ages = [90, 82, 66, 54, 41]
educations = ['HS-grad', 'HS-grad', 'Some-college', '7th-8th', 'Some-college']
marital_statuses = ['Widowed', 'Widowed', 'Widowed', 'Divorced', 'Separated']
races = ['White', 'White', 'Black', 'White', 'White']


data = {'age': ages, 
        'education': educations, 
        'marital_status': marital_statuses, 
        'race': races }

data_df = pd.DataFrame(data)

print(data_df)

   age     education marital_status   race
0   90       HS-grad        Widowed  White
1   82       HS-grad        Widowed  White
2   66  Some-college        Widowed  Black
3   54       7th-8th       Divorced  White
4   41  Some-college      Separated  White

   age     education marital_status   race
0   90       HS-grad        Widowed  White
1   82       HS-grad        Widowed  White
2   66  Some-college        Widowed  Black
3   54       7th-8th       Divorced  White
4   41  Some-college      Separated  White